*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:#2f3e50 ;
}
.list-group-item{
    background-color: transparent;
    border: 0px;
}
.one{
    background-color: white;
    width: 15%;
    height: 3px;
}
.tre{
    background-color: #2f3e50;
    width: 15%;
    height: 3px;
    
}
.first ul li{
    position: relative;
}
.first ul li:not(li:last-child)::after{
    content:"";
    height: 2px;
    width: 10px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
}
form input,
form textarea {
    border: 0;
    border-bottom: 1px solid grey;
}
footer{
    background-color: #3e546d;
}