*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
header{ 
    
    
}
.first{
    display: flex;
    justify-content: space-between;
    background-color: rgb(22, 20, 20);
    color: white;
    text-transform: uppercase;
    align-items: baseline;
    padding-top: 10px;
    font-size: smaller;
    height: 50px;
    
}
ul{ 
    list-style-type: none; 
    display: flex;
    gap: 10px;
    font-size: smaller;
}
img{
    height: 100px;
    width: 100px;
}
.text-center{
    text-transform: uppercase;
}
.svg{ width: 100px;
}
.para{
    display: flex;
}
p{
    color: white;
}
